/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* body */
body {
  background: rgba(0, 0, 0, 0.9); /* Fondo negro con un 90% de opacidad */
  font-family: "Open Sans", sans-serif; /* Usa la fuente Open Sans como principal */
  color: rgba(255, 255, 255, 0.9); /* Texto blanco con 90% de opacidad para alta visibilidad */
}

.navigation {
    width: 305px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ced4da;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    padding: 20px 0;
}
.profile-image {
    width: 399px;
    height: auto;
    margin-bottom: -117px;
    margin-top: -90px;
    margin-left: -50px;
}

.search-bar {
    display: flex;
    width: 80%;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 5px;
    margin-left: 24px;
}

.search-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    padding: 9px 4px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.search-button:hover {
    color: #fff;
}


.nav-link {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    padding: 10px 15px;
    font-size: 1.1rem;
    text-decoration: none;
    color: #ced4da;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.nav-link i {
    margin-right: 15px;
    width: 20px;
    text-align: center;
}
.nav-link:hover, .nav-link.active {
    background-color: #495057;
    color: #fff;
}
.nav-link.dropdown-toggle::after {
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-left: auto;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}
.nav-link.active.dropdown-toggle::after {
    transform: rotate(180deg);
}
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: rgba(73, 80, 87, 0.5);
    padding: 0;
}
.nav-link.active + .submenu {
    max-height: 500px;
    padding: 10px 0;
}
.submenu .nav-link {
    padding-left: 50px;
    font-size: 1rem;
    color: #ced4da;
}
.submenu .nav-link:hover {
    background-color: #6c757d;
    color: #fff;
}
.content {
    margin-left: 320px;
    padding: 20px;
}
/* Espaciado para el contenido principal */
.main-content {
    margin-top: 60px; /* Ajusta este valor según la altura de .navigation */
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.pagination-button, .current-page {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.current-page {
    background-color: #6c757d;
    pointer-events: none;
}

.pagination-button.disabled {
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

.pagination-button.disabled:hover {
    background-color: #cccccc;
}

.pagination a {
    color: #fff;
}

.pagination a:hover {
    text-decoration: none;
}
.current-page {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

/* links */
a {
  text-decoration: none; /* Sin subrayado */
  color: #2c8d3c; /* Color verde para los enlaces */
  transition: color 0.2s ease-out; /* Transición suave de color */
}

a:hover {
  color: #581b1b; /* Color rojo oscuro para el efecto hover */
}

/* wrapper */
.wrapper {
  width: 60%; /* Ancho completo */
  max-width: 1500px; /* Ancho máximo de 1000px */
  margin: 3px 469px ; /* Margen: 20px arriba, 100px abajo, centrado horizontalmente */
  padding: 0; /* Sin relleno */
  background: rgba(255, 255, 255, 0.1); /* Fondo blanco con 10% de opacidad */
  color: rgba(255, 255, 255, 0.9); /* Texto blanco con 90% de opacidad */
  overflow: hidden; /* Oculta el contenido desbordado */
  position: relative; /* Posicionamiento relativo */
  border-radius: 9px;
}

/* lists */
.row ul {
  margin: 0; /* Sin margen */
  padding: 0; /* Sin relleno */
  display: flex; /* Utiliza flexbox para un mejor control del espacio */
  justify-content: space-between; /* Espacia los elementos uniformemente */
}

.row ul li {
  margin: 0; /* Sin margen */
  font-size: 20px; /* Tamaño de fuente de 16px */
  font-weight: normal; /* Peso de fuente normal */
  list-style: none; /* Sin estilo de lista (sin viñetas) */
  flex: 1; /* Flexibilidad de los elementos */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
  padding: 5px 8px; /* Relleno: 5px arriba/abajo, 10px izquierda/derecha */
  word-wrap: break-word; /* Permite que las palabras largas se dividan */
  text-align: center;
}

/* Aumentar tamaño de las banderas */
.row ul li.flag {
  font-size: 37px;
  text-align: center;
}

/* title-column */
.row ul li.title-column {
  flex: 2; /* Ancho mayor para la columna title */
  text-align: left;
  margin: 5px;
}

.row ul li.group-column {
  flex: 1; /* La columna del grupo será más ancha */
}

.row ul li.discovered-column {
  flex: 1; /* La columna 'discovered' será ligeramente más ancha */
}


/* Enlaces dentro de las columnas */
.row ul li a {
  display: inline;
}

.row ul li a:hover {
  color: #581b1b; /* Color al pasar el ratón por encima */
}

/* .row padding */
.row {
  padding: 15px 0; /* Relleno de 20px arriba/abajo */
  font-size: 17px; /* Tamaño de fuente 0 para evitar espacio entre elementos en línea */
  position: relative; /* Posicionamiento relativo */
  overflow: visible; /* Oculta el contenido desbordado */
  border-top: 3px solid rgba(0, 0, 0, 0.1); /* Borde superior con 10% de opacidad */
  transition:  0.6s ease-out; /* Transición suave del fondo */
}



/* lists */
.row1 ul {
  margin: 0; /* Sin margen */
  padding: 0; /* Sin relleno */
  display: flex; /* Utiliza flexbox para un mejor control del espacio */
  justify-content: space-between; /* Espacia los elementos uniformemente */
}

.row1 ul li {
  margin: 0; /* Sin margen */
  font-size: 20px; /* Tamaño de fuente de 16px */
  font-weight: normal; /* Peso de fuente normal */
  list-style: none; /* Sin estilo de lista (sin viñetas) */
  flex: 1; /* Flexibilidad de los elementos */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
  padding: 5px 8px; /* Relleno: 5px arriba/abajo, 10px izquierda/derecha */
  word-wrap: break-word; /* Permite que las palabras largas se dividan */
  text-align: center;
}

/* Aumentar tamaño de las banderas */
.row1 ul li.flag {
  font-size: 37px;
  text-align: center;
}

/* title-column */
.row1 ul li.title-column {
  flex: 2; /* Ancho mayor para la columna title */
  text-align: left;
  margin: 5px;
}

.row1 ul li.group-column {
  flex: 1; /* La columna del grupo será más ancha */
}

.row1 ul li.discovered-column {
  flex: 1; /* La columna 'discovered' será ligeramente más ancha */
}


/* Enlaces dentro de las columnas */
.row1 ul li a {
  display: inline;
}

.row1 ul li a:hover {
  color: #581b1b; /* Color al pasar el ratón por encima */
}


/* .row1 positioning */
.row1 {
  position: relative; /* Posicionamiento relativo */
}

/* Media queries for small screens */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row1 ul li {
    font-size: 13px; /* Tamaño de fuente reducido a 13px */
    width: 20%; /* Ajusta este valor considerando el nuevo ancho de la primera columna */
  }

  .row1 ul li:first-child {
    width: 40%; /* Ancho mayor para la primera columna en pantallas pequeñas */
  }
}

@media only screen and (max-width: 479px) {
  .row1 ul li {
    font-size: 13px; /* Tamaño de fuente reducido a 13px */
    width: 33%; /* Ajusta este valor considerando el nuevo ancho de la primera columna */
  }

  .row1 ul li:first-child {
    width: 50%; /* Ancho mayor para la primera columna en pantallas muy pequeñas */
  }
}

/* .title padding */
.title ul li {
  padding: 15px 13px; /* Relleno de 15px arriba/abajo, 13px izquierda/derecha */
  text-align: center;
}

/* .row1 padding */
.row1 {
  padding: 15px 0; /* Relleno de 20px arriba/abajo */
  font-size: 17px; /* Tamaño de fuente 0 para evitar espacio entre elementos en línea */
  position: relative; /* Posicionamiento relativo */
  overflow: hidden; /* Oculta el contenido desbordado */
  border-top: 3px solid rgba(0, 0, 0, 0.1); /* Borde superior con 10% de opacidad */
  transition:  0.6s ease-out; /* Transición suave del fondo */
}

/* more-content container */
.more-content-container {
  max-height: 0; /* Altura máxima de 0 para ocultar el contenido inicialmente */
  transition: max-height 0.6s ease-out, background-color 0.2s ease-out; /* Transición suave de altura y fondo */
}

/* Hover effect for showing more content */
.row1:hover {
  background-color: rgba(14, 13, 13, 0.877); /* Fondo más oscuro al desplegarse */
}

/* Hover effect for showing more content */
.row1:hover .more-content-container {
  max-height: 500px; /* Altura máxima de 500px para asegurar contenido visible */
}


/* Media queries for small screens */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row ul li {
    font-size: 13px; /* Tamaño de fuente reducido a 13px */
    width: 20%; /* Ajusta este valor considerando el nuevo ancho de la primera columna */
  }

  .row ul li:first-child {
    width: 40%; /* Ancho mayor para la primera columna en pantallas pequeñas */
  }
}

@media only screen and (max-width: 479px) {
  .row ul li {
    font-size: 13px; /* Tamaño de fuente reducido a 13px */
    width: 33%; /* Ajusta este valor considerando el nuevo ancho de la primera columna */
  }

  .row ul li:first-child {
    width: 50%; /* Ancho mayor para la primera columna en pantallas muy pequeñas */
  }
}

/* .title padding */
.title ul li {
  padding: 15px 13px; /* Relleno de 15px arriba/abajo, 13px izquierda/derecha */
  text-align: center;
}
/* more-content container */
.more-content-container {
  max-height: 0; /* Altura máxima de 0 para ocultar el contenido inicialmente */
  transition: max-height 0.6s ease-out, background-color 0.2s ease-out; /* Transición suave de altura y fondo */
}

/* .title padding */
.title {
  padding: 10px 0 5px 0; /* Relleno: 25px arriba, 5px abajo */
  height: 45px; /* Altura de 45px */
  font-size: 0; /* Tamaño de fuente 0 para evitar espacio entre elementos en línea */
  background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con 10% de opacidad */
  border-left: 3px solid rgba(255, 255, 255, 0.1); /* Borde izquierdo con 10% de opacidad */
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
  .title-hide {
    display: none; /* Oculta el título en pantallas pequeñas */
  }
}

/* more content */
ul.more-content li {
  position: relative; /* Posicionamiento relativo */
  top: 13px; /* Desplazamiento hacia abajo de 22px */
  font-size: 13px; /* Tamaño de fuente de 13px */
  margin: 0; /* Sin margen */
  padding: 19px 10px; /* Relleno: 10px arriba/abajo, 13px izquierda/derecha */
  display: block; /* Display de bloque */
  width: 80%; /* Ancho completo */
  color: rgba(128, 128, 128, 0.9); /* Texto gris con 90% de opacidad */
  overflow: visible; /* Desbordamiento visible */
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
  ul.more-content li {
    font-size: 11px; /* Tamaño de fuente reducido a 11px */
  }
}

/* small content */
.small {
  color: rgba(102, 102, 102, 0.9); /* Texto gris con 90% de opacidad */
  font-size: 10px; /* Tamaño de fuente de 10px */
  padding: 0 10px; /* Relleno: 0 arriba/abajo, 10px izquierda/derecha */
  margin: 0; /* Sin margen */
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
  .small {
    display: none; /* Oculta el contenido pequeño en pantallas pequeñas */
  }
}

.group-column, .country-column {
    position: relative;
}

/* Estilos para el botón del filtro */
.filter-button {
    background: none;
    border: none;
    color: #101110;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
}

.filter-button:hover {
    color: #f00;
    transform: rotate(180deg); /* Efecto de rotación al pasar el ratón */
}

/* Estilos para el contenido del dropdown */
.dropdown-content {
    display: grid;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.95);
    min-width: 200px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    right: 0;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Mostrar el dropdown con animación */
.dropdown-content.show {
    display: grid;
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para los enlaces dentro del dropdown */
.dropdown-content a {
    color: rgba(255, 255, 255, 0.9);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #581b1b;
    color: white;
}

/* Icono antes del texto */
.dropdown-content a::before {
    content: '•';
    margin-right: 8px;
    color: #2c8d3c;
}



/* GRoups page */

/* Estilos para la tabla de grupos */
.groups-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.groups-table th, .groups-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
}

.groups-table th {
    background-color: rgba(24, 23, 23, 0.85);
    font-weight: bold;
    font-size: 18px;
}

.groups-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.groups-table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

.groups-table tr:hover {
    background-color: rgba(44, 141, 60, 0.3);
}

.groups-table a {
    color: #2c8d3c;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.groups-table a:hover {
    color: #581b1b;
}

.tagDropDown:hover{
  color:#ffffff !important;
}
.menu-item.sub-menu .sub-menu-list {
  display: none; /* inicialmente oculto */
}
.menu-item.sub-menu.open .sub-menu-list {
  display: block; /* se muestra al hacer clic */
}