<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
 {% include 'navbar.html' %}
    <div class="main-container">
        <section class="wrapper">
        <main class="row" style="background-color: gray">
            <ul>
                <li class="title-column">Name</li>

                <li class="group-column">
                    Source
                    <button class="filter-button" onclick="toggleDropdown('group-dropdown')">⮟</button>
                    <div id="group-dropdown" class="dropdown-content">
                        {% for group in groups %}
                            <a class="tagDropDown" href="#" onclick="filterByGroup('{{ group }}')">{{ group }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="discovered-column">
                    Discovered
                    <button class="filter-button" onclick="toggleSortOrder()">⮟</button>
                </li>

               <li class="country-column">
                    Country
                    <button class="filter-button" onclick="toggleDropdown('country-dropdown')">⮟</button>
                    <div id="country-dropdown" class="dropdown-content">
                        {% for country_code in countries %}
                            <a class="tagDropDown"
                               href="#"
                               onclick="filterByCountry('{{ country_code }}')">
                               {{ get_country_name(country_code) }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="link-column">Post</li>
            </ul>
        </main>

            <!-- Mostrar los datos paginados -->
            {% for item in data %}
            <article class="row1">
                <ul>
                    <li class="title-column">{{ item['post_title'] }}</li>
                    <li class="group-column">
                        <a href="{{ url_for('group_detail', group_name=item['group_name']) }}">
                            {{ item['group_name'] }}
                        </a>
                    </li>
                    <li class="discovered-column">{{ item['discovered'].strftime('%d/%m/%Y') }}</li>
                    <li class="flag" data-country="{{ item['country'] }}">{{ item['country'] }}</li>
                    <li class="link-column">
                        <a href="{{ item['post_url'] }}" target="_blank">Link</a>
                    </li>
                </ul>
                <div class="more-content-container">
                    <ul class="more-content">
                        <li>{{ item['description'] }}</li>
                    </ul>
                </div>
            </article>
            {% endfor %}

            <!-- Controles de paginación -->
            <div class="pagination">
                {% if total_pages > 1 %}
                    {% if page > 1 %}
                        <a href="?page={{ page - 1 }}&country-filter={{ country_filter }}&group-filter={{ group_filter }}&sort-order={{ sort_order }}" class="pagination-button">⮜ Previus</a>
                    {% endif %}

                    <!-- Mostrar un rango de páginas alrededor de la página actual -->
                    {% set start_page = max(1, page - 2) %}
                    {% set end_page = min(total_pages, page + 2) %}
                    {% for p in range(start_page, end_page + 1) %}
                        {% if p == page %}
                            <span class="current-page">{{ p }}</span>
                        {% else %}
                            <a href="?page={{ p }}&country-filter={{ country_filter }}&group-filter={{ group_filter }}&sort-order={{ sort_order }}" class="pagination-button">{{ p }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page < total_pages %}
                        <a href="?page={{ page + 1 }}&country-filter={{ country_filter }}&group-filter={{ group_filter }}&sort-order={{ sort_order }}" class="pagination-button">Next ⮞</a>
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </div>


<script>
// Función para mostrar/ocultar menús desplegables y cambiar el z-index
function toggleDropdown(id) {
    // Cerrar otros dropdowns
    var dropdowns = document.querySelectorAll('.dropdown-content');
    dropdowns.forEach(function(dropdown) {
        if (dropdown.id !== id) {
            dropdown.classList.remove('show');
            // Restablecer el z-index de los otros dropdowns
            dropdown.style.zIndex = '';
        }
    });

    // Alternar la clase 'show' en el dropdown seleccionado
    var dropdown = document.getElementById(id);
    if (dropdown) {
        dropdown.classList.toggle('show');

        // Si el dropdown tiene la clase 'show', cambia el z-index
        if (dropdown.classList.contains('show')) {
            dropdown.style.zIndex = 100;
        } else {
            // Restablecer el z-index cuando se oculta el dropdown
            dropdown.style.zIndex = '';
        }
    }
}


function filterByGroup(group) {
    event.preventDefault();
    event.stopPropagation();
    var url = new URL(window.location.href);
    url.searchParams.set('group-filter', group);
    window.location.href = url.toString();
}

function toggleSortOrder() {
    var url = new URL(window.location.href);
    var currentOrder = url.searchParams.get('discovered-order') || 'desc';
    var newOrder = (currentOrder === 'asc') ? 'desc' : 'asc';
    url.searchParams.set('discovered-order', newOrder);
    window.location.href = url.toString();
}

// Cerrar dropdowns al hacer clic fuera de ellos
window.onclick = function(event) {
    if (!event.target.matches('.filter-button') && !event.target.closest('.dropdown-content')) {
        var dropdowns = document.getElementsByClassName('dropdown-content');
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}

</script>
</body>
</html>