<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
 {% include 'navbar.html' %}
    <div class="wrapper">
    <h1 style="text-align: center;">Disclaimer</h1>
    <table>
        <thead>
            <tr>
                <th> 

                <p>Breach.house is an independently developed personal project.</p>

                <p>The information on the Breach.house website is dynamically generated in near-real-time based on the hosting choices of real-world threat actors and has not been independently verified. While we have made efforts to sanitize the data, by viewing or accessing Breach.house, you acknowledge that you do so at your own risk.</p>

                <p>Breach.house serves solely as an inventory of claims made by others, which are the sole responsibility of their authors. We do not confirm or validate these allegations.</p>

                <p>Please be aware that some claims may be abusive. Any victim claims made by cybercriminals should be approached with caution and not considered verified without independent confirmation.</p>

                <h1>Privacy Policy</h1>

                <p>Breach.house collects only metadata and does not gather any sensitive information. All the information presented on the platform is derived from publicly available data. While we strive for accuracy, errors or omissions may occur. If you encounter any incorrect information or feel that your privacy has been violated, please notify us so we can make the necessary updates.</p>

                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>



</body>
</html>