<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
 {% include 'navbar.html' %}

    <section class="wrapper">
        <h1 style="text-align: center;">{{ group.name }}</h1>

        <h2>Links:</h2>
        <ul>
            {% for location in group.locations %}
                <li>{{ location['Source Links'] }}</li>
            {% endfor %}
        </ul>

        <h2>Victims</h2>
        <main class="row" style="background-color: gray">
            <ul>
                <li class="title-column">Target</li>
                <li class="discovered-column">
                    Discovered
                    <!-- Botón para ordenar (puedes implementar la funcionalidad con JavaScript) -->
                    <button class="filter-button" onclick="toggleSortOrder()">⮟</button>
                </li>
                <li class="country-column">
                    Country
                    <button class="filter-button" onclick="toggleDropdown('country-dropdown')">⮟</button>
                    <div id="country-dropdown" class="dropdown-content">
                        {% for country_code in countries %}
                            <a class="tagDropDown"
                               href="#"
                               onclick="filterByCountry('{{ country_code }}')">
                               {{ get_country_name(country_code) }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </main>

        {% for item in data %}
        <article class="row1">
            <ul>
                <li class="title-column">{{ item['name'] }}</li>
                <li class="discovered-column">{{ item['discovered'].strftime('%d/%m/%Y') }}</li>
                <li class="flag" data-country="{{ item['country'] }}">{{ item['country'] }}</li>
            </ul>
            <div class="more-content-container">
                <ul class="more-content">
                    <li>{{ item['description'] }}</li>
                </ul>
            </div>
        </article>
        {% endfor %}
    </section>

<!-- Agrega tus scripts JavaScript aquí para manejar la funcionalidad de filtrado y ordenamiento -->
<script>
            // Función para mostrar/ocultar menús desplegables y cambiar el z-index
    function toggleDropdown(id) {
        // Cerrar otros dropdowns
        var dropdowns = document.querySelectorAll('.dropdown-content');
        dropdowns.forEach(function(dropdown) {
            if (dropdown.id !== id) {
                dropdown.classList.remove('show');
                // Restablecer el z-index de los otros dropdowns
                dropdown.style.zIndex = '';
            }
        });

        // Alternar la clase 'show' en el dropdown seleccionado
        var dropdown = document.getElementById(id);
        if (dropdown) {
            dropdown.classList.toggle('show');

            // Si el dropdown tiene la clase 'show', cambia el z-index
            if (dropdown.classList.contains('show')) {
                dropdown.style.zIndex = 100;
            } else {
                // Restablecer el z-index cuando se oculta el dropdown
                dropdown.style.zIndex = '';
            }
        }
    }


    function filterByCountry(country) {
        event.preventDefault();
        event.stopPropagation();
        var url = new URL(window.location.href);
        url.searchParams.set('country-filter', country);
        window.location.href = url.toString();
    }

    function toggleSortOrder() {
        var url = new URL(window.location.href);
        var currentOrder = url.searchParams.get('discovered-order') || 'desc';
        var newOrder = (currentOrder === 'asc') ? 'desc' : 'asc';
        url.searchParams.set('discovered-order', newOrder);
        window.location.href = url.toString();
    }

    // Cerrar dropdowns al hacer clic fuera de ellos
    window.onclick = function(event) {
        if (!event.target.matches('.filter-button') && !event.target.closest('.dropdown-content')) {
            var dropdowns = document.getElementsByClassName('dropdown-content');
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }


</script>


</body>
</html>
