<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
 {% include 'navbar.html' %}
    <div class="demo-wrapper">
        <div class="demo-container">
            <div id="svgMapGPD"></div>
        </div>
    </div>


    <div class="main-container">
        <section class="wrapper">
        <main class="row" style="background-color: gray">
            <ul>
                <li class="title-column">Name</li>

                <li class="group-column">
                    Source
                    <button class="filter-button" onclick="toggleDropdown('group-dropdown')">⮟</button>
                    <div id="group-dropdown" class="dropdown-content">
                        {% for group in groups %}
                            <a class="tagDropDown" href="#" onclick="filterByGroup('{{ group }}')">{{ group }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="discovered-column">
                    Discovered
                    <button class="filter-button" onclick="toggleSortOrder()">⮟</button>
                </li>

                <li class="country-column">
                    Country
                    <button class="filter-button" onclick="toggleDropdown('country-dropdown')">⮟</button>
                    <div id="country-dropdown" class="dropdown-content">
                        {% for country_code in countries %}
                            <a class="tagDropDown"
                               href="#"
                               onclick="filterByCountry('{{ country_code }}')">
                               {{ get_country_name(country_code) }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="link-column">Post</li>
            </ul>
        </main>

            {% for item in data %}
            <article class="row1">
                <ul>
                    <li class="title-column">{{ item['post_title'] }}</li>
                    <li class="group-column">
                      <a href="{{ url_for('group_detail', group_name=item['group_name']) }}">
                        {{ item['group_name'] }}
                      </a>
                    </li>
                    <li class="discovered-column">{{ item['discovered'].strftime('%d/%m/%Y') }}</li>
                    <li class="flag" data-country="{{ item['country'] }}">{{ item['country'] }}</li>
                    <li class="link-column">
                      {% if item.get('post_url') %}
                        <a href="{{ item['post_url'] }}" target="_blank">Link</a>
                      {% else %}
                        <a href="{{ url_for('group_detail', group_name=item['group_name']) }}">Link</a>
                      {% endif %}
                    </li>
                      </ul>
                <div class="more-content-container">
                    <ul class="more-content">
                        <li>{{ item['description'] }}</li>
                    </ul>
                </div>
            </article>
            {% endfor %}
        </section>
    </div>

<script>

new svgMap({
    targetElementID: 'svgMapGPD',
    data: svgMapDataGPD, 
    mouseWheelZoomEnabled: true,
    mouseWheelZoomWithKey: false
});

var controlsWrapper = document.querySelector('.svgMap-map-controls-wrapper');
if (controlsWrapper) {
  controlsWrapper.parentNode.removeChild(controlsWrapper);
}

function toggleDropdown(id) {
    var dropdowns = document.querySelectorAll('.dropdown-content');

    dropdowns.forEach(function(dropdown) {
        if (dropdown.id !== id) {
            dropdown.classList.remove('show');
            dropdown.style.zIndex = '';
        }
    });

    var dropdown = document.getElementById(id);
    if (dropdown) {
        var isOpen = dropdown.classList.contains('show');
        
        // Cierra todos los menús antes de abrir uno nuevo
        dropdowns.forEach(d => d.classList.remove('show'));

        // Si el menú no estaba abierto, lo abre
        if (!isOpen) {
            dropdown.classList.add('show');
            dropdown.style.zIndex = 100;
        } else {
            dropdown.style.zIndex = '';
        }
    }
}


function filterByGroup(group) {
    event.preventDefault();
    event.stopPropagation();
    var url = new URL(window.location.href);
    url.searchParams.set('group-filter', group);
    window.location.href = url.toString();
}

function toggleSortOrder() {
    var url = new URL(window.location.href);
    var currentOrder = url.searchParams.get('discovered-order') || 'desc';
    var newOrder = (currentOrder === 'asc') ? 'desc' : 'asc';
    url.searchParams.set('discovered-order', newOrder);
    window.location.href = url.toString();
}

// Cerrar dropdowns al hacer clic fuera de ellos
window.onclick = function(event) {
    if (!event.target.matches('.filter-button') && !event.target.closest('.dropdown-content')) {
        var dropdowns = document.getElementsByClassName('dropdown-content');
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}

</script>
</body>
</html>